[include]
	path = ~/.config/m-lima/git/delta
	path = ~/.config/m-lima/git/local

[core]
	excludesfile = ~/.config/m-lima/git/ignore

[user]
	email = m-lima@users.noreply.github.com
	name = Marcelo Lima
	username = m-lima
	signingkey = 0804194C20C052EFAADCEBC167EDC7240617DA53

[commit]
	gpgsign = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra
